{%extends 'layouts/base.html' %}

{% block content %}
<div class="container-fluid mb-3">
	<div class="img">
		<img src="/static/3.jpeg" width="100%" height="600px">

		<h2 style="position: absolute; top: 300px; left:60px;  color: #696969; ">contact</h2>
	</div>

<form class="container-fluid" action="/app/contact/save" method="post">

	<div>
		<center><h1 style="color: #696969;">Contact us</h1></center>
	</div>
	{% csrf_token %}
	<!-- <input type="hidden" name="_token" value='{"csrfmiddlewaretoken": "{{ csrf_token }}"}'> -->
	<div class="form-floating my-3 ">
	  <input type="text" class="form-control" id="floatingInput" name="name" placeholder="Enter name">
	  <label for="floatingInput">Name</label>
	</div>

	<div class="form-floating mb-3 ">
	  <input type="email" class="form-control" id="floatingInput" name="email" placeholder="name@example.com">
	  <label for="floatingInput">Email address</label>
	</div>

	<div class="form-floating">
	  <input type="taxt" class="form-control " id="floatingInput" name="comments" placeholder="please give your feed back">
	  <label for="floatingInput">comments</label>
	</div>

	<div class="button">
		<button type="submit" class="btn btn-secondary py-.25 my-3">Submit</button>
	</div>

</form>
</div>
{% endblock %}